- values = values || {}

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Registration

    link(rel="stylesheet", href="style.css")
  body
    ul
      li
        a(href="/") Home
      li
        a(href="/login") Login
      li
        span Register
    
    if errors
      ul
        each error in errors
          li= error

    form(action="/register", method="post")
      div
        label(for="firstName") First Name
        input#firstName(type="text", name="firstName", value=values.firstName)
      div
        label(for="lastName") Last Name
        input#lastName(type="text", name="lastName", value=values.lastName)
      div
        label(for="email") Email
        input#email(type="email", name="email", value=values.email)
      div
        label(for="password") Password
        input#password(type="password", name="password")
      div
        label(for="passwordConfirmation") Confirm Password
        input#passwordConfirmation(type="password", name="passwordConfirmation")
      div
        button(type="reset") Reset
        button(type="submit") Register
