doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Registration Successful

    link(rel="stylesheet", href="style.css")
  body
    ul
      li
        a(href="/") Home
      li
        a(href="/login") Login
      li
        span Register
    p
      strong
        Hello #{firstName} #{lastName}
      br
      | You are successfully registered
