doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Express Auth

    link(rel="stylesheet", href="style.css")
  body
    ul
      li
        span Home
      li
        a(href="/login") Login
      li
        a(href="/register") Register

    if user
      p
        Hello #{user.firstName}!
    
    if user
      footer
        a(href="/logout") Logout
