- values = values || {}

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Login
  body
    ul
      li
        a(href="/") Home
      li
        span Login
      li
        a(href="/register") Register
    
    if errors
      ul
        each error in errors
          li= error

    form(action="/login", method="post")
      div
        label(for="email") Email
        input#email(type="email", name="email", value=values.email)
      div
        label(for="password") Password
        input#password(type="password", name="password")
      div
        button(type="reset") Reset
        button(type="submit") Login
